.complaint-links-container {
  @apply bg-white;

  .header {
    @apply flex items-center border-b border-border;

    .logo {
      @apply bg-focus;
      padding: 12px;
      border-radius: 4px;
    }

    .text {
      @apply pl-md font-bold;
    }
  }

  .body {
    padding: 10px;
    @apply flex items-start flex-col;
    margin-left: 46px;

    .link {
      @apply p-sm text-link-normal;
    }
  }
}

.inbox-container {
  .filters-container {
    .filter {
      .filter-card {
        @apply bg-white;
        padding: 10px;

        .heading {
          @apply flex justify-between;

          .clearAll {
            display: none;
          }
        }

        .filter-label {
          @apply font-bold text-heading-m;
          padding-bottom: 6px;
        }
      }
    }

    .search-complaint-container {
      @apply items-center bg-white p-md;

      .complaint-input-container {
        .complaint-input {
          @apply flex flex-col;

          .clear-search {
            @apply text-focus;
            display: none;
            &:hover {
              color: #003078;
              cursor: pointer;
            }
          }
        }

        .mobile-input {
        }
      }
    }
  }

  .status-container {
    margin-bottom: 50px;
  }
}

.button-clear {
  @apply text-focus text-body-s-dt;
}

@screen dt {
  .complaint-links-container {
    @apply bg-white;

    .header {
      @apply flex items-center border-b border-border;

      .logo {
        @apply bg-focus;
        padding: 12px;
        border-radius: 4px;
      }

      .text {
        @apply pl-md font-bold;
      }
    }

    .body {
      padding: 10px;
      @apply flex items-start flex-col;
      margin-left: 46px;

      .link {
        @apply p-sm text-link-normal;
      }
    }
  }

  .inbox-container {
    @apply flex;

    .filters-container {
      width: 270px;

      .filter {
        @apply mt-md;

        .filter-card {
          @apply p-md bg-white;

          .heading {
            @apply flex justify-between;
          }

          .label {
            @apply text-heading-s;
          }
        }
      }
    }

    .search-container {
      @apply ml-lg w-auto;

      .search-complaint-container {
        @apply flex items-center bg-white p-md flex-col items-start;

        .complaint-header {
          marginbottom: "20px";
          width: 100%;
          @apply flex justify-between w-full justify-between;
        }

        .complaint-input-container {
          display: flex !important;

          .complaint-input {
            @apply flex flex-col;

            .clear-search {
              @apply text-focus;
              @apply block;
            }
          }

          .mobile-input {
            @apply ml-sm;
          }
        }
      }
    }
  }
}

.cell-text {
  color: "#505A5F";
}

.sla-cell-error {
  color: "#D4351C";
  background-color: "rgba(212, 53, 28, 0.12)";
  padding: "0 24px";
  border-radius: "11px";
}

.sla-cell-success {
  color: "#00703C";
  background-color: "rgba(0, 112, 60, 0.12)";
  padding: "0 24px";
  border-radius: "11px";
}

.complain-no-cell-text {
  margin-top: "4px";
  color: "#505A5F";
}
