/*@import 'normalize.css';*/

/*@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");*/

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./components/loader.scss";

@import "./components/body.scss";
@import "./components/navbar.scss";
@import "./components/card.scss";
@import "./components/buttons.scss";
@import "./components/radiobtn.scss";
@import "./components/selectdropdown.scss";
@import "./components/textfields.scss";
@import "./components/bannercomponents.scss";
@import "./components/datewrap.scss";
@import "./components/datatable.scss";
@import "./components/checkpoint.scss";
@import "./components/checkbox.scss";
@import "./components/inputotp.scss";
@import "./components/map.scss";
@import "./components/menu.scss";
@import "./components/submiterrors.scss";
@import "./components/ratingstar.scss";
@import "./components/keynote.scss";
@import "./components/statushighlight.scss";
@import "./components/imageviewer.scss";
@import "./components/actionbar.scss";
@import "./components/table.scss";
@import "./components/popup.scss";
@import "./components/uploadcomponents.scss";
@import "./components/toast.scss";
@import "./components/detailscontainer.scss";
@import "./components/telephone.scss";
@import "./components/grey.scss";
@import "./components/actionLink.scss";
@import "./components/sectionalDropdown.scss";
@import "./components/detailscard.scss";
@import "./components/searchAction.scss";
@import "./components/tag.scss";
@import "./components/topbar.scss";
@import "./components/languageSelector.scss";
@import "./components/custombtn.scss";
@import "./components/citizenInfoLabel.scss";
@import "./components/roundedLabel.scss";
@import "./components/changeLanguage.scss";

@import "./pages/employee/index.scss";
@import "./pages/employee/popupmodule.scss";
@import "./pages/employee/container.scss";
@import "./pages/employee/inbox.scss";

.home-link {
  margin-left: 16px;
  margin-bottom: 16px;

  a {
    color: #1d70b8;
  }
}

.clear-search-label {
  color: "#F47738";
  cursor: "pointer";
}

.search-submit-bar {
  margin-top: 32;
  margin-left: "auto";
}

.application-details-link-button {
  @apply flex justify-between items-center;

  .download-button {
    color: "#f47738";
    margin-left: "8px";
  }
}

.response-download-button {
  @apply flex mb-sm;

  .download-button {
    color: "#f47738";
    margin-left: "8px";
  }
}

.check-page-link-button {
  color: #f47738 !important;
}

.application-table-container {
  margin-top: "24px";
  margin-top: "24px";
  margin-left: "24px";
  flex: 1;
}

.primary-label-btn {
  display: flex;
  gap: 10px;

  svg {
    fill: #f47738;
  }

  color: #f47738;
  &:hover {
    color: #000;

    svg {
      fill: #000;
    }
  }

  cursor: pointer;
  font-weight: 500;
  width: fit-content;
}

.disabled {
  @apply border-grey-dark text-grey-dark !important;
  pointer-events: none !important;
}

.react-time-picker {
  width: 194px;
  height: 2.5rem;
  &__wrapper {
    border: 2px solid #0b0c0c;
    padding-left: 16px;
  }
  &__inputGroup__input {
    line-height: 2.5rem;
    &:focus {
      outline: 2px solid black;
    }
  }
}
